.sidebar{
    background: white;
    min-height: 1300px;
    height:100%;
    width: 300px;
    border: 2px solid black;
}
.sidebar ul{
    list-style: none;
}
.sidebar ul li label{
    cursor: pointer;
}
.page{
    background-color: white;
    color: #337ab7;
    border-radius: 20px;
    border-color: #337ab7;
}
.page:hover{
    background-color: #337ab7;
    color: white;
}
.page.active{
    background-color: #337ab7;
    color: white;
}
.navbar{
    background-color: #337ab7;
}
.navbar .container-fluid h5{
    color:white;
}
li h5{
    cursor: pointer;
}
