<div class="d-flex ">
    <div class="sidebar">
        <div *ngIf="docs.length > 0">
            <ul>
                <li class="mt-3" *ngFor="let d of docs">
                    <label (click)="onUpdateUrl(d.doc_id,d.document_type,d.doc_name)">{{d.display_name}}</label>
                </li>
            </ul>
            <hr>
        </div>
        <div class="orders mt-3">
            <h5 class="text-center"><u>Daily Orders</u></h5>
            <ul>
                <li class="mt-3" *ngFor="let o of orders">
                    <label (click)="onUpdateOrderUrl(o.orderpdf)">Order Dated {{o.order_dt}}</label>
                </li>
            </ul>
            <hr>
        </div>
        <div *ngIf="bookmarks.length > 0">
            <h5 class="text-center"><u>Bookmarks</u></h5>
            <ul>
                <li class="mt-3" *ngFor="let b of bookmarks; let i = index">
                    <label *ngIf="!b.page_no">No Bookmarks</label>
                    <label *ngIf="b.page_no" (click)="onGetBookmark(b.case_id,b.document_name,b.document_type,b.page_no)">Bookmark_{{i+1}}</label>
                </li>
            </ul>
            <hr>
        </div>
        <div *ngIf="notes.length > 0">
            <h5 class="text-center"><u>Notes</u></h5>
            <ul>
                <li class="mt-3" *ngFor="let n of notes; let i = index">
                    <label (click)="onShowNote(n.note, n.date)" data-bs-toggle="modal" data-bs-target="#viewModal">Note_{{i+1}}</label>
                </li>
            </ul>
            <hr>
        </div>
    </div>
    <div class="d-block w-100">
        <main>
            <div class="row mt-4 px-5">
                <div class="col-md-3">
                    <label class="form-label" *ngIf="details"><b>Case No:</b> {{details.case_no}}</label>
                </div>
                <div class="col-md-3">
                    <label class="form-label"><b>CNR:</b> {{cnr}}</label>
                </div>
                <div class="col-md-6">
                    <label class="form-label" *ngIf="details"><b>Main Parties:</b> {{details.first_petitioner}} v/s {{details.first_respondent}}</label>
                </div>
            </div>
        </main>
        <section>
            <nav class="navbar navbar-expand-lg mt-4" *ngIf="showPanel">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <h5>Page: {{pageNum}}/{{totalPages}}</h5>
                            </li>
                        </ul>
                        <ul class="nav justify-content-center">
                            <li class="nav-item mx-5" (click)="prevPage()">
                                <h5><i class="bi bi-skip-backward mx-3"></i>Prev. Page</h5>
                            </li>
                            <li class="nav-item" (click)="nextPage()">
                                <h5>Next Page<i class="bi bi-fast-forward ms-3"></i></h5>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item mx-3">
                                <button class="btn btn-primary" type="button"><i class="bi bi-bookmark" (click)="addBookmark()"></i></button>
                            </li>
                            <li class="nav-item mx-3">
                                <button class="btn btn-primary" type="button"><i class="bi bi-journal-plus" data-bs-toggle="modal" data-bs-target="#exampleModal"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pages px-5 text-center mt-3">
                <button class="btn page ms-2 mt-2" *ngFor="let p of pages" [ngClass]="{'active': pageNum === p,'':pageNum !== p}" (click)="selectPage(p)">{{p}}</button>
                <div class="row d-flex">
                    <div class="col-md-12 mt-4">
                        
                    </div>
                </div>
            </div>
            <div class="text-center mt-1 mb-5">
                <canvas id="the-canvas"></canvas>
            </div>
        </section>
        <div class="modal fade" tabindex="-1" id="exampleModal" #exampleModal>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add note</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form #note="ngForm" (ngSubmit)="addNote(note)">
                        <div class="modal-body">
                            <label class="form-label">Note</label>
                            <textarea class="form-control" rows="5" cols="10" name="note" ngModel #note="ngModel" required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" id="viewModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">View note</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Added on {{note_date | date: 'dd-MM-YYYY'}} at {{note_date | date: 'hh:mm:ss a'}}</p>
                        <p>Note: {{note_data}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>